@media (max-width: 570px) {
    .card {
        width: 310px;
        height: 320px;
    }

    .card p {
        font-size: 15px;
    }

    .card h1 {
        padding: 0 15px 15px 15px;
        font-size: 21px;
    }

}