body {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 500px;
    height: 300px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.card p {
    margin-top: 30px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.card h1 {
    color: hsl(193, 38%, 86%);
    font-size: 24px;
    padding: 0 25px 20px 25px;
    margin-bottom: 10px;
}

.card button {
    width: 60px;
    height: 60px;
    background-color:  hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.card button:hover {
  color: #53FFAB;
  cursor: pointer;
  box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}